@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {box-sizing: border-box;scroll-behavior:smooth;}

body {
    font-family: "Raleway", sans-serif;
    background: url(assets/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.topics {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4px;
    background: #2626267F;
    border-radius: 8px;
    padding: 4px;
    position: fixed;
}

.leftSep {
    float: left;
    border: 4px solid #AAAAAA99;
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.rightSep {
    float: right;
    border: 4px solid #AAAAAA99;
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.indent {margin-left: 12px;color:#fdfdfd;}
.nonIndent {text-align: left;}

.topics a {
    color: #fdfdfd;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    padding: 6px;
}

.slides {
    width: 100%;
    text-decoration: none;
    margin-top: 64px;
}

.slideLeft {
    width: 50%;
    float: left;
    background: #262626AF;
    padding: 4px;
    border-radius: 8px;
}

.slideRight {
    width: 50%;
    float: right;
    background: #262626AF;
    padding: 4px;
    border-radius: 8px;
}

.slideBody {
    color: #fdfdfd;
    width: 75%;
    text-align: center;
}

h2 {
    color: #fdfdfd;
    font-weight: bold;
}

.specialInfo {
    color: #fdfdfd;
    font-weight: bold;   
}

::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

::-webkit-scrollbar-button {
    visibility: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 8px;
}